name: Actions Build Package SDK

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      cache:
        description: |
          是否清理缓存?
        required: false
        default: false
        type: boolean
      
      feeds:
        description: |
          是否禁用feeds?
        required: false
        default: true
        type: boolean  
      
      out:
        description: |
          是否详细输出?
        required: false
        default: true
        type: boolean
      
      SDK:
        description: |
          选择编译插件
        required: false
        default: "all"
        type: choice
        options:
          - Openwrt
          - Immortalwrt
      
      package:
        description: |
          选择编译插件
        required: false
        default: "all"
        type: choice
        options:
          - all
          - api-static
          - sub-static
          - page-static
          - sse_server-static
          - luci-app-scriptexec
          - luci-app-napcatapi
          - luci-app-cifs-mount2
          - luci-app-bypass
          - luci-app-unishare
          - luci-app-v2ray-server
          - luci-app-sunpanel
          - sunpanel
          - napcatapi-static
          - status-ports

jobs:
  jod_workflow:
    uses: ./.github/workflows/Actions-OpenWrt-SDK.yml
    secrets: inherit
    with:
      cache: ${{ inputs.cache }}
      feeds: ${{ inputs.feeds }}
      out: ${{ inputs.out }}
      sdk: ${{ inputs.sdk }}
      package: ${{ inputs.package }}